@import "../../../../src/vars.scss";

.title-new {
   font-feature-settings:
      "clig" off,
      "liga" off;
   font-family: Montserrat;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 0.15px;
   display: flex;

   .required{
      margin-left: 0.3rem;
      color: $partners-brand-color-secondary-400
   }
}
