@import "../../../vars.scss";


.input-image{
   width: fit-content;

   #container {
      background-color: rgb(200, 200, 200);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      overflow: hidden;
      border: 2px solid rgb(102, 102, 102);
      position: relative;

      &.active-file{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 1rem;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/camera.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }

      &.active-rounded-file{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 100%;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/camera.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }

      &.active-clearable-file{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 1rem;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/camera.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }

      &.active-clearable-rounded-file{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 100%;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/camera.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }
   
      &.active-url{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 1rem;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/paste.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }

      &.active-rounded-url{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 100%;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/paste.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }

      &.active-clearable-url{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 1rem;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/paste.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }

      &.active-clearable-rounded-url{
         &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 100%;
            transition: 0.3s;
            pointer-events: none;
            background-color: #00000073;
            background-image: url("../../../assets/images/icons/paste.svg");
            background-repeat: no-repeat;
            background-size: 5rem;
            background-position: center;
            opacity: 0;
         }
      
         &:hover {
            &::before {
               opacity: 1;
            }
         }
      }
   
      &.focus {
         &::before {
            opacity: 1;
         }
      }
   
      div[role="presentation"] {
         height: 100%;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
   
         img {
            background-color: rgb(237, 237, 237);
            width: 100%;
            height: 100%;
            cursor: pointer !important;
         }
      }
   
      img {
         background-color: rgb(237, 237, 237);
         width: 100%;
         height: 100%;
         cursor: pointer !important;
      }
   }

   .clear-area{
      cursor: pointer;
      border: 2px solid rgb(102, 102, 102);
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-transparent-2;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      &:hover{
         background-color: $partners-brand-color-secondary-400;
         color: $off-white;
         border-color: $primary-dark !important;
         border-style: groove !important;
      }
   }

   .clear-area-rounded{
      cursor: pointer;
      border: 2px solid rgb(102, 102, 102);
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-transparent-2;
      border-radius: 2rem;
      margin-top: 1rem;

      &:hover{
         background-color: $partners-brand-color-secondary-400;
         color: $off-white;
         border-color: $primary-dark !important;
         border-style: groove !important;
      }
   }
}

