@import "../../vars.scss";

.TabsRoot {
}

.TabsTrigger {
   color: $partners-neutral-color-600;
   font-feature-settings:
      "clig" off,
      "liga" off;
   font-family: Montserrat;
   font-size: 18px !important;
   font-style: normal;
   font-weight: 500;
   line-height: 28px;
   letter-spacing: 0.15px;
   cursor: pointer;

   margin-right: 2rem;

   &::before {
      background-color: #9b4dee !important;
      height: 0.2rem !important;
   }

   span:nth-child(1) {
      &:hover {
         background-color: #f0e2ff !important;
      }
   }
}

div[role="tablist"] {
   width: fit-content !important;
   height: 3.5rem !important;

   button{
      padding-right: 2rem !important;
      padding-left: 1rem !important;
      padding-bottom: 1rem !important;
      padding-top: 1rem !important;
   }
}

#TabsContent {
   margin-top: 1rem;
   padding: 1rem;

   &.default {
   }

   &.background {
      background-color: #f6f6f6;
      border-radius: 0.5rem;
      border: 2px solid #ebebeb;
   }
}

.scroll-horizontal {
   overflow-x: auto;
   padding: 0.5rem;
   border-bottom: 1px solid #e9e9ed;
   padding-bottom: 0;

   &::-webkit-scrollbar {
      height: 6px;
   }

   &::-webkit-scrollbar-track {
      border-radius: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
   }
}
