@import "../../../src/vars.scss";

.breadcrumb-new {
   font-weight: 500;
   color: $neutral-color-low-light;
   font-feature-settings:
      "clig" off,
      "liga" off;
   font-family: Montserrat;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 2rem;
   letter-spacing: 0.15px;
   word-break: break-all;

   span.separator {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      color: black !important;
      font-weight: 400 !important;
   }
}
