@import "../../../vars.scss";

.button-default {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 700;
   line-height: 24px;
   border-radius: 2rem;
   cursor: pointer;
   
   font-size: 14px;

   /* &:hover {
      background-color: $partners-neutral-color-101 !important;
      color: $partners-brand-color-primary-400 !important;
   } */

   img.icon {
      pointer-events: none;
   }
}
