$primary: #9b4dee;
$pink: #e0457b;
$yellow: #f7ea48;
$primary-dark: #6700a2;
$primary-light: #d8b8f9;
$gray-dark: #707070;
$gray-light: #dfdfdf;
$green: #4ba047;
$red: #f44336;
$blue100: #79d5ff;
$white: #ffffff;
$black: #000000;
$off-white: #fefefe;
$gray100: #acacac;
$gray200: #707070;
$gray300: #c4c4c4;
$gray400: #e1e6e8;
$gray500: #acacac1f;
$gray600: #f2f2f2;
$gray700: #e4e4e4;
$gray800: #e0e0e0;
$gray900: #DCDCDC;
$gold100: #fdf2e2;
$gold200: #f19920;
$gold300: #d3800d;
$font-black: #525252;
$primary-300: #ae71f2;
$green-100: #5bcc5f;
$nav-bar-width: 300px;
$primary-transparent: rgba(155, 77, 238, 0.9);
$primary-transparent-2: rgba(217, 182, 255, 0.406);
$feedback-error-medium: #dc0c04;
$partners-neutral-color-600: #707070;
$partners-brand-color-primary-20: #fefcff;
$partners-brand-color-primary-50: #f2e7fc;
$partners-brand-color-primary-51: #e8d0ff;
$partners-brand-color-primary-400: #9b4dee;
$partners-brand-color-primary-800: #faf6ff;
$partners-base-color-white: #fff;
$partners-brand-color-secondary-400: #e0457b;
$partners-feedback-color-success-600: #4ba047;
$partners-neutral-color-100: #f3f3f3;
$partners-neutral-color-101: #dedede;
$partners-neutral-color-700: #5c5c5c;
$partners-neutral-color-200: #ebebeb;
$partners-neutral-color-600: #707070;
$neutral-color-low-light: #707070;
$partners-neutral-color-400: #acacac;
$brand-color-primary-pure: #9b4dee;
